---
import Layout from '../components/Layout.astro';
import SpecialistCard from '../components/SpecialistCard.jsx';
import specialists from '../data/specialists.js';
---
<Layout title="Especialistas">
  <h2 class="text-2xl font-semibold text-purple-700 mb-4">Nuestros Especialistas</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-4">
    {specialists.map((specialist) => (
      <SpecialistCard key={specialist.id} specialist={specialist} />
    ))}
  </div>
</Layout>
