---
import Layout from '../components/Layout.astro';
import LoginForm from '../components/LoginForm.jsx';
---
<Layout title="Iniciar Sesión">
  <div class="container mx-auto mt-8">
    <LoginForm />
  </div>
</Layout>
