---
import Layout from '../components/Layout.astro';
import AppointmentForm from '../components/AppointmentForm.jsx';

---

<Layout title="Inicio">
  <div class="container mx-auto mt-8">
    <h1 class="text-3xl font-bold text-center text-purple-700">Bienvenido al Consultorio Psicológico</h1>
    <p class="text-center text-gray-700 mt-4">
      Gestiona tus citas de manera fácil y rápida.
    </p>
    <AppointmentForm client:load />
	
  </div>
</Layout>
